.header__lang-link{
    margin: 0;
    margin-left: 18px;
    padding: 0;
    color: #fff;
    line-height: 28px;
    font-size: 24px;
    font-weight: normal;
    align-self: flex-end;
    text-decoration: none;
}

.header__lang-link:first-child{
    margin: 0;
}

.header__lang-link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 720px){
    .header__lang-link{
        line-height: 20px;
        font-size: 18px;
    }
  }