.cover{
    margin: 92px 48px 0 48px;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    aspect-ratio: 16/10;
}

@media screen and (max-width:1100px) {
    .cover{
        margin: 92px 0 0 0;
    }
}

@media screen and (max-width:1000px) {
    .cover{
        margin: 90px 0 0 0;
    }
}

@media screen and (max-width:440px) {
    .cover{
        margin: 66px 0 0 0;
    }
}