.footer{
    margin: 92px auto 24px auto;
    padding: 0;
    width: calc(100% - 48px*2);
    display: flex;
    justify-content: space-between;
    align-items: start;
}

@media screen and (max-width:1000px) {
    .footer{
        margin-top: 90px;
        width: calc(100% - 24px*2);
    }
}

@media screen and (max-width:760px) {
    .footer{
        flex-direction: column;
        
    }
}

@media screen and (max-width:440px) {
    .footer{
        margin: 64px auto 24px auto;
        width: calc(100% - 2*16px);
        justify-self: start;
    }
}